*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}




body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}



h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

.container{
    max-width: 1400px;
    margin: auto;
    
}

header{
    background-color: rgb(182, 18, 18);
    position: relative;
    
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: rgb(233, 225, 240);
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(11, 10, 10);
}

header a:hover{
    color: rgb(220, 211, 229);
}







#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: rgb(217,40,40);
}

#hero button{
    font-size: 1.75em;
}


#conteCarrusel{  
    height: 90vh;
    width: 100%;
    overflow: hidden;
}

.itemCarrusel{
    height: 100%;
    position: relative;
    
}

.tarjetasCarrusel{
    height: 100%;
}

.flechasCarrusel{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

#tCarrusel-1{
    background-color: rgb(163, 79, 240);
}
#tCarrusel-2{
    background-color: rgb(115, 95, 243);
}
#tCarrusel-3{
    background-color: rgb(114, 140, 234);
}

#tCarrusel-1 > img{
width: 100%;
height: 90vh;

}

#tCarrusel-2 > img{
    height: 90vh;
    width: 100%;
}
    
#tCarrusel-3 > img{
        height: 90vh;
        width: 100%;
}
        



#aCarrusel >i{
    font-size: 5vh;
}


#contePuntos{
    display: flex;
    justify-content: space-around;
}

#contePuntos > a{
    text-decoration: none;
    font-size: 10vh;
}
#aCarrusel{
    text-decoration: none;
}

#somos-simab .container{
    text-align: center;
    padding: 200px 12px;
}

#somos-simab{
    background-color: rgb(188, 30, 30);
    color: rgba(0, 0, 0, 0.81);
    text-align: center;
}

#trabajos-realizados .container{
    padding: 150px 12px;
}

#trabajos-realizados h2{
    margin-top: 0;
    font-size: 3.2em;
}

#trabajos-realizados p{
    display: none;
}

#caracteristicas .container{
    text-align: center;
    padding: 250px 12px;
}

#caracteristicas li{
    margin: 16px 0px;
    font-weight: bold;
}

#final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(182, 18, 18);
    color: rgb(182, 18, 18);
    height: 80vh;
}

#final h2{
    font-size: 9vw;
}

#final button{
    font-size: 5vw;
}

footer{
    background-color: rgb(182, 18, 18);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(6, 6, 6);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 850px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1{
        font-size: 5em;
    }

    #somos-proya .container{
        display: flex;
        justify-content: space-evenly;
    }

    #somos-simab .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #somos-proya h2{
        margin-top: 0px;
    }

    #somos-proya .img-container{
        background-image: url("media/somos-proya.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px; 
    }

    #nuestros-programas .programas{
        display: flex;
        justify-content: center;
    }

    #nuestros-programas p{
        display: block;
        margin-bottom: 30px;
    }

    #nuestros-programas h2{
        font-size: 4em;
    }

    #nuestros-programas h3{
        margin-top: 0;
    }

    #caracteristicas{
        background-image: url("media/background-2.jpeg");
        background-repeat: no-repeat;
        background-size: 500px 400px;
        background-position: calc(100vw - 500px) 120px;
    }

    #caracteristicas .container{
        text-align: initial;
    }

    #caracteristicas ul{
        margin-left: 100px;
    }

    #final h2{
        font-size: 5em;
    }

    #final button{
        font-size: 2em;
    }

    footer .container{
        justify-content: flex-end;
    }
}

@media (min-width: 1200px) {
    #caracteristicas{
        background-position-x: calc(100vw - 800px);
    }
}